altgraph==0.17.4
argcomplete==3.1.2
auto-py-to-exe==2.43.3
blinker==1.7.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
climage==0.2.0
colorama==0.4.6
distlib==0.3.7
Eel==0.16.0
filelock==3.12.4
Flask==3.0.2
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.6
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
kdtree==0.16
MarkupSafe==2.1.5
mysql-connector-python==8.0.33
packaging==23.1
pefile==2023.2.7
pillow==10.2.0
pipx==1.2.0
platformdirs==3.11.0
pluggy==1.3.0
pyasn1==0.6.0
pycparser==2.22
pygame==2.5.2
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
pyparsing==3.1.2
PySimpleGUI==5.0.4
pytest==7.4.2
pywin32-ctypes==0.2.2
requests==2.31.0
rsa==4.9
urllib3==2.2.0
userpath==1.9.1
virtualenv==20.24.5
Werkzeug==3.0.1
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.3
