<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Items Adder</title>
</head>
<body>
    <topbar>
        <div class="top-bar-button">
            <a href="dashboard" id="dash-button">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="dashboard" height="30">
            </a>
        </div>
        <div class="top-bar-button">
            <a href="viewcart" id="cart-button">
                <img src="https://static.vecteezy.com/system/resources/previews/019/787/018/original/shopping-cart-icon-shopping-basket-on-transparent-background-free-png.png" alt="cart" height="30">
            </a>
        </div>
        <div class="top-bar-button">
            <a href="login" id="logout-button">
                <img src="https://cdn0.iconfinder.com/data/icons/login-44/24/logout_doot_interface_essentials_login_regular_f-512.png" alt="log out" height="30">
            </a>
        </div>
        <div class="top-bar-button">
            <a href="profile" id="profile-button">
                <img src="https://static-00.iconduck.com/assets.00/profile-icon-512x512-w0uaq4yr.png" alt="profile" height="30">
            </a>
        </div>
        {% if account['isadmin'] == 1%}
        <div class="top-bar-button">
            <a href="debug" id="bug-button">
                <img src="https://static.thenounproject.com/png/83827-200.png" alt="debug" height="30">
            </a>
        </div>
        {% endif %}
    </topbar>
    {% if table is none%}
    <div class="add-container">
        <h1>Which table?</h1>
        <div class="add-item">
            <a href="additem?table=cpu">CPU</a>
            <a href="additem?table=gpu">GPU</a>
            <a href="additem?table=ram">RAM</a>
            <a href="additem?table=psu">PSU</a>
            <a href="additem?table=moederbord">Motherboard</a>
            <a href="additem?table=opslag">Storage</a>
            <a href="additem?table=behuizing">Case</a>
            <a href="dashboard">Go back to dashboard</a>
        </div>
    </div>
    {% endif %}

    {% if table == 'cpu' %}
    <div class="add-container">
        <h2>CPU</h2>
        <div class="add-item">
            <form action="/additem?table=cpu" method="post">
                <label for="naam">Name(str)</label>
                <input type="text" id="naam" name="naam" required>

                <label for="clock">Clock(str)</label>
                <input type="text" id="clock" name="clock" required>

                <label for="cores">Cores(int)</label>
                <input type="text" id="cores" name="cores" required>

                <label for="socket">Socket(str)</label>
                <input type="text" id="socket" name="socket" required>

                <label for="stock">Stock(int)</label>
                <input type="text" id="stock" name="stock" required>

                <label for="prijs">Price(flt)</label>
                <input type="text" id="prijs" name="prijs" required>

                <label for="leverancier">Leverancier(ID)</label>
                <input type="text" id="leverancier" name="leverancier" required>

                <button type="submit">Add Item</button>
            </form>
        </div>
        <div class="add-item">
            <a href="/additem">Back</a>
        </div>
    </div>
    {% endif %}
    {% if table == 'gpu' %}
    <div class="add-container">
        <h2>GPU</h2>

        <div class="add-item">
            <form action="/additem?table=gpu" method="post">
                <label for="naam">Name(str)</label>
                <input type="text" id="naam" name="naam" required>

                <label for="clock">Clock(str)</label>
                <input type="text" id="clock" name="clock" required>

                <label for="vramcap">Vram Capacity(str)</label>
                <input type="text" id="vramcap" name="vramcap" required>

                <label for="gddr">GDDR(str)</label>
                <input type="text" id="gddr" name="gddr" required>

                <label for="stock">Stock(int)</label>
                <input type="text" id="stock" name="stock" required>

                <label for="prijs">Price(flt)</label>
                <input type="text" id="prijs" name="prijs" required>

                <label for="leverancier">Leverancier(ID)</label>
                <input type="text" id="leverancier" name="leverancier" required>

                <button type="submit">Add Item</button>
            </form>
        </div>
        <div class="add-item">
            <a href="/additem">Back</a>
        </div>
    </div>
    {% endif %}
    {% if table == 'ram' %}
    <div class="add-container">
        <h2>RAM</h2>

        <div class="add-item">
            <form action="/additem?table=ram" method="post">
                <label for="naam">Name(str)</label>
                <input type="text" id="naam" name="naam" required>

                <label for="clock">Clock(str)</label>
                <input type="text" id="clock" name="clock" required>

                <label for="capaciteit">Capacity(str)</label>
                <input type="text" id="capaciteit" name="capaciteit" required>

                <label for="ddr">DDR(str)</label>
                <input type="text" id="ddr" name="ddr" required>

                <label for="stock">Stock(int)</label>
                <input type="text" id="stock" name="stock" required>

                <label for="prijs">Price(flt)</label>
                <input type="text" id="prijs" name="prijs" required>

                <label for="leverancier">Leverancier(ID)</label>
                <input type="text" id="leverancier" name="leverancier" required>

                <button type="submit">Add Item</button>
            </form>
        </div>
        <div class="add-item">
            <a href="/additem">Back</a>
        </div>
    </div>
    {% endif %}
    {% if table == 'psu' %}
    <div class="add-container">
        <h2>PSU</h2>

        <div class="add-item">
            <form action="/additem?table=psu" method="post">
                <label for="naam">Name(str)</label>
                <input type="text" id="naam" name="naam" required>

                <label for="watt">Watt(int)</label>
                <input type="text" id="watt" name="watt" required>

                <label for="typeid">Type(ID)</label>
                <input type="text" id="type" name="type" required>

                <label for="stock">Stock(int)</label>
                <input type="text" id="stock" name="stock" required>

                <label for="prijs">Price(flt)</label>
                <input type="text" id="prijs" name="prijs" required>

                <label for="leverancier">Leverancier(ID)</label>
                <input type="text" id="leverancier" name="leverancier" required>

                <button type="submit">Add Item</button>
            </form>
        </div>
        <div class="add-item">
            <a href="/additem">Back</a>
        </div>
    </div>
    {% endif %}
    {% if table == 'moederbord' %}
    <div class="add-container">
        <h2>Motherboard</h2>

        <div class="add-item">
            <form action="/additem?table=moederbord" method="post">
                <label for="naam">Name(str)</label>
                <input type="text" id="naam" name="naam" required>

                <label for="socket">Socket(str)</label>
                <input type="text" id="socket" name="socket" required>

                <label for="ddr">DDR(int)</label>
                <input type="text" id="ddr" name="ddr" required>

                <label for="gddr">GDDR(str)</label>
                <input type="text" id="gddr" name="gddr" required>

                <label for="stock">Stock(int)</label>
                <input type="text" id="stock" name="stock" required>

                <label for="prijs">Price(flt)</label>
                <input type="text" id="prijs" name="prijs" required>

                <label for="leverancier">Leverancier(ID)</label>
                <input type="text" id="leverancier" name="leverancier" required>

                <button type="submit">Add Item</button>
            </form>
        </div>
        <div class="add-item">
            <a href="/additem">Back</a>
        </div>
    </div>
    {% endif %}
    {% if table == 'opslag' %}
    <div class="add-container">
        <h2>Storage</h2>

        <div class="add-item">
            <form action="/additem?table=opslag" method="post">
                <label for="naam">Name(str)</label>
                <input type="text" id="naam" name="naam" required>

                <label for="type">Type(ID)</label>
                <input type="text" id="type" name="type" required>

                <label for="capaciteit">Capacity(str)</label>
                <input type="text" id="capaciteit" name="capaciteit" required>

                <label for="stock">Stock(int)</label>
                <input type="text" id="stock" name="stock" required>

                <label for="prijs">Price(flt)</label>
                <input type="text" id="prijs" name="prijs" required>

                <label for="leverancier">Leverancier(ID)</label>
                <input type="text" id="leverancier" name="leverancier" required>

                <button type="submit">Add Item</button>
            </form>
        </div>
        <div class="add-item">
            <a href="/additem">Back</a>
        </div>
    </div>
    {% endif %}
    {% if table == 'behuizing' %}
    <div class="add-container">
        <h2>Case</h2>

        <div class="add-item">
            <form action="/additem?table=behuizing" method="post">
                <label for="naam">Name(str)</label>
                <input type="text" id="naam" name="naam" required>

                <label for="aantalfans">Amount of fans(int)</label>
                <input type="text" id="aantalfans" name="aantalfans" required>

                <label for="afmetingen">Dimensions(str)</label>
                <input type="text" id="afmetingen" name="afmetingen" required>

                <label for="stock">Stock(int)</label>
                <input type="text" id="stock" name="stock" required>

                <label for="prijs">Price(flt)</label>
                <input type="text" id="prijs" name="prijs" required>

                <label for="leverancier">Leverancier(ID)</label>
                <input type="text" id="leverancier" name="leverancier" required>

                <button type="submit">Add Item</button>
            </form>
        </div>
        <div class="add-item">
            <a href="/additem">Back</a>
        </div>
    </div>
    {% endif %}
</body>
</html>