<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <topbar>
        <div class="top-bar-button">
            <a href="dashboard" id="dash-button">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="dashboard" height="30">
            </a>
        </div>
        <div class="top-bar-button">
            <a href="viewcart" id="cart-button">
                <img src="https://static.vecteezy.com/system/resources/previews/019/787/018/original/shopping-cart-icon-shopping-basket-on-transparent-background-free-png.png" alt="cart" height="30">
            </a>
        </div>
        <div class="top-bar-button">
            <a href="login" id="logout-button">
                <img src="https://cdn0.iconfinder.com/data/icons/login-44/24/logout_doot_interface_essentials_login_regular_f-512.png" alt="log out" height="30">
            </a>
        </div>
        <div class="top-bar-button">
            <a href="profile" id="profile-button">
                <img src="https://static-00.iconduck.com/assets.00/profile-icon-512x512-w0uaq4yr.png" alt="profile" height="30">
            </a>
        </div>
        {% if account['isadmin'] == 1%}
        <div class="top-bar-button">
            <a href="debug" id="bug-button">
                <img src="https://static.thenounproject.com/png/83827-200.png" alt="debug" height="30">
            </a>
        </div>
        {% endif %}
    </topbar>
    <div class="cart-screen">
        <div class="cart-item">
            <form action="/admin-review" method="GET">
                {% if fail == '' %}
                <label for="naam">Type a title (max 45 characters long)</label>
                {% if idlist != [] %}
                <input type="hidden" name="idlist" id="idlist" value="{{idlist}}">
                {% else %}
                <fail>It seems the IDList is empty, contact support for this matter!</fail>
                {% endif %}
                <input type="text" id="naam" name="naam">
                <button type="submit">Let a Admin review your request! (1-2 workdays)</button>
                {% endif %}
            </form>
            {% if fail == 'inserttodatabase' %}
            <fail>It seems something went wrong, try again later or contact support!</fail>
            {% endif %}
            {% if fail == 'lengthError' %}
            <fail>It seems something went wrong, make sure you have selected all parts before submitting your request!</fail>
            {% endif %}
            {% if fail == 'nameExists' %}
            <fail>It seems this title already exists! Choose another one!</fail>
            {% endif %}
        </div>
    </div>
</body>