<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PC Parts Builder</title>
</head>

<body>
    <topbar>
        <div class="top-bar-button">
            <a href="/dashboard" id="dash-button">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="dashboard" height="30">
            </a>
        </div>
        <div class="top-bar-button">
            <a href="/viewcart" id="cart-button">
                <img src="https://static.vecteezy.com/system/resources/previews/019/787/018/original/shopping-cart-icon-shopping-basket-on-transparent-background-free-png.png" alt="cart" height="30">
            </a>
        </div>
        <div class="top-bar-button">
            <a href="/login" id="logout-button">
                <img src="https://cdn0.iconfinder.com/data/icons/login-44/24/logout_doot_interface_essentials_login_regular_f-512.png" alt="log out" height="30">
            </a>
        </div>
        <div class="top-bar-button">
            <a href="/profile" id="profile-button">
                <img src="https://static-00.iconduck.com/assets.00/profile-icon-512x512-w0uaq4yr.png" alt="profile" height="30">
            </a>
        </div>
        {% if account['isadmin'] == 1%}
        <div class="top-bar-button">
            <a href="/debug" id="bug-button">
                <img src="https://static.thenounproject.com/png/83827-200.png" alt="debug" height="30">
            </a>
        </div>
        {% endif %}
    </topbar>
    <!-- Overlay -->
    <div class="overlay" id="overlay">
        <!-- Dialog box -->
        <div class="dialog-box">
            <p>Are you sure you want to delete this item?</p>
            <button id="okButton">OK</button>
            <button onclick="hideOverlay()">Cancel</button>
        </div>
    </div>
    
    {% if reviewcart is not none and addtocart is false and buycart is false%}
    <div class="cart-screen">
        <div class="cart-item">
             <h2>Your shopping cart</h2>
             {% for item in products %}
            <li>
                {{ item }} 
                <br>
                <a onclick="showOverlay('{{ item }}')" id="delete-from-cart">Delete</a>
            </li>
            {% endfor %}
            {% if products == () %}
            <h3>You dont have any products in you shopping cart!</h3>
            {% endif %}
            <p>Total price: ${{ totalprice }}</p>
            {% if products != () %}
            <a href="buy">Buy!</a>
            {% if nobuy %}
            <fail>It seems one or more products are out of stock, check if all the items are in stock</fail>
            <button>Ask for stock</button>
            {% endif %}
            <a onclick="showOverlay('none')">Push your cart down the ditch</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if reviewcart is not none and addtocart is true %}
    <div class="cart-screen">
        <div class="cart-item">
            <h2>Succesfully added these items to your shopping cart:</h2>
            {% for item in products %}
            <li>{{ item }}</li>
            {% endfor %}
            <p>Total price: ${{ totalprice }}</p>
            <a href="/viewcart">Check out your shopping cart</a>
        </div>
    </div>
    {% endif %}
    {% if reviewcart is false and addtocart is false and buycart is true %}
    <div class="cart-screen">
        <div class="cart-item">
            <h2>You Succesfully bought all items for ${{totalprice}}. <br>These will be delivered at {{account['adres']}} on the name {{account['naam']}}</h2>
            <a href="/viewcart">Check out your shopping cart</a>
        </div>
    </div>
    {% endif %}
    {% if reviewcart is none %}
    <div class="product-container">
        <div class="product">
            <h2>Build your PC!</h2>
            <img src="{{ url_for('static', filename='images/gamingdesktop.png') }}" alt="Main Product" height="270">
            <p>Choose every part by hand, <br>enjoy the build it yourself discount <br>and enjoy the ease of a prebuilt</p>
        </div>
        
        <div class="component-selection">
            <h3>Select CPU:</h3>
            <select id="cpu-select">
                <option value="default" selected>Choose a Product</option>
            </select>
            <h4>Info:</h4>
            <p id="cpu-info">Select a CPU to see its info.</p>
        </div>
    
        <div class="component-selection">
            <h3>Select GPU:</h3>
            <select id="gpu-select">
                <option value="default" selected>Choose a Product</option>
            </select>
            <h4>Info:</h4>
            <p id="gpu-info">Select a GPU to see its info.</p>
        </div>
    
        <div class="component-selection">
            <h3>Select RAM:</h3>
            <select id="ram-select">
                <option value="default" selected>Choose a Product</option>
            </select>
            <h4>Info:</h4>
            <p id="ram-info">Select a RAM to see its info.</p>
        </div>

        <div class="component-selection">
            <h3>Select PSU:</h3>
            <select id="psu-select">
                <option value="default" selected>Choose a Product</option>
            </select>
            <h4>Info:</h4>
            <p id="psu-info">Select a power supply unit<br> to see its info.</p>
        </div>

        <div class="component-selection">
            <h3>Select Storage:</h3>
            <select id="storage-select">
                <option value="default" selected>Choose a Product</option>
            </select>
            <h4>Info:</h4>
            <p id="storage-info">Select a storage to see its info.</p>
        </div>

        <div class="component-selection">
            <h3>Select Motherboard:</h3>
            <select id="mom-select">
                <option value="default" selected>Choose a Product</option>
            </select>
            <h4>Info:</h4>
            <p id="mom-info">Select a motherboard to see its info.</p>
        </div>

        <div class="component-selection">
            <h3>Select Case:</h3>
            <select id="case-select">
                <option value="default" selected>Choose a Product</option>
            </select>
            <h4>Info:</h4>
            <p id="case-info">Select a case to see its info.</p>
        </div>

        <form id="hiddenForm" action="/addtocart" method="POST">
            <input type="hidden" id="cpu-form" name="cpu">
            <input type="hidden" id="gpu-form" name="gpu">
            <input type="hidden" id="psu-form" name="psu">
            <input type="hidden" id="ram-form" name="ram">
            <input type="hidden" id="mom-form" name="moederbord">
            <input type="hidden" id="case-form" name="behuizing">
            <input type="hidden" id="storage-form" name="opslag">
        <button type="submit" id="cart">Add to Cart</button>
        <fail id="fail-message" style="display: none;"></fail>
        <warning id="warning-message" style="display: none;"></warning>
        {% if noButton != True %}
        <button type="submit" id="admin_review" formaction="/admin-review" >Add your Prebuilt to the main page!</button> 
        {% endif %}           
        </form>

    </div>
    {% endif %}

    <script>
        //GLOBAL
        var cpuprijs = 0;
        var gpuprijs = 0;
        var psuprijs = 0;
        var ramprijs = 0;
        var caseprijs = 0;
        var storageprijs = 0;
        var momprijs = 0;
        var totalprice = 0; 
        var form = document.getElementById("hiddenForm");
        var cart = document.getElementById("cart");
        var admin_review = document.getElementById("admin_review");
        //FUNCTION
        function tieHiddenValue(HiddenInputID, SelectID) {
            var otherElementValue = document.getElementById(SelectID).value;
            document.getElementById(HiddenInputID).value = otherElementValue;
        }

        function fetchOptions(component, selectId) {
            fetch(`/get_options/${component}`)
                .then(response => response.json())
                .then(data => {
                    data.sort((a, b) => a.naam.localeCompare(b.naam));
                    const select = document.getElementById(selectId);
                    // select.innerHTML = ''; // Clear previous options
                    data.forEach(option => {
                        const optionElem = document.createElement('option');
                        optionElem.value = option.id;
                        optionElem.textContent = option.naam;
                        if (component == 'ram') {
                            optionElem.textContent =    option.leverancier + " " + 
                                                        option.naam + " DDR" + 
                                                        option.ddr + " " +
                                                        option.clock;
                        }
                        optionElem.setAttribute('data-prijs', option.prijs);
                        optionElem.setAttribute('data-ddr', option.ddr);
                        optionElem.setAttribute('data-leverancier', option.leverancier);
                        optionElem.setAttribute('data-gddr', option.gddr);
                        optionElem.setAttribute('data-stock', option.stock);
                        optionElem.setAttribute('data-aantalfans', option.aantalfans);
                        optionElem.setAttribute('data-capaciteit', option.capaciteit);
                        optionElem.setAttribute('data-vramcap', option.vramcap);
                        optionElem.setAttribute('data-clock', option.clock);
                        optionElem.setAttribute('data-watt', option.watt);
                        optionElem.setAttribute('data-type', option.type);
                        optionElem.setAttribute('data-socket', option.socket);
                        optionElem.setAttribute('data-cores', option.cores);
                        optionElem.setAttribute('data-afmetingen', option.afmetingen);
                        optionElem.setAttribute('data-image', option.fotolink);
                        select.appendChild(optionElem);
                    });
                    // Update info element with the price of the first option

                })
                .catch(error => console.error(`Error fetching options for ${component}:`, error));
        }
        function checkstock(stock) {
            if (stock > 3) {
                    string = 'In stock!'
                } else if (3 >= stock && stock > 0){
                    string = 'Nearly out of stock!'
                } else {
                    string = "Out of stock!"
                }
                return string
        }

        function addSelectChangeListeners() {
            document.getElementById('ram-select').addEventListener('change', function() {
                var selectedOption = this.options[this.selectedIndex];
                var prijs = selectedOption.getAttribute('data-prijs');
                var ddr = selectedOption.getAttribute('data-ddr');
                var capaciteit = selectedOption.getAttribute('data-capaciteit');
                var leverancier = selectedOption.getAttribute('data-leverancier');
                var clock = selectedOption.getAttribute('data-clock');
                var stock = selectedOption.getAttribute('data-stock');
                stock = checkstock(stock);
                var image = selectedOption.getAttribute('data-image'); // Assuming this attribute contains the image URL

                // Debug the image variable
                console.log("Image URL:", image);

                var ramInfoHTML = '<img src="' + image + '" alt="RAM Image" style="max-width: 190px;">' +
                                '<br>Brand: ' + leverancier +
                                '<br>Clock speed: ' + clock +
                                '<br>Capacity: ' + capaciteit + 
                                '<br>DDR' + ddr + 
                                '<br><br>' + stock +
                                '<br><br>$' + prijs;

                document.getElementById('ram-info').innerHTML = ramInfoHTML;
                ramprijs = prijs; // Assuming ramprijs is a global variable
            });


            document.getElementById('psu-select').addEventListener('change', function() {
                var selectedOption = this.options[this.selectedIndex];
                var prijs = selectedOption.getAttribute('data-prijs');
                var stock = selectedOption.getAttribute('data-stock');
                stock = checkstock(stock);
                var watt = selectedOption.getAttribute('data-watt');
                var type = selectedOption.getAttribute('data-type');
                var leverancier = selectedOption.getAttribute('data-leverancier');
                var image = selectedOption.getAttribute('data-image'); // Assuming this attribute contains the image URL

                // Debug the image variable
                console.log("Image URL:", image);

                var psuInfoHTML = '<img src="' + image + '" alt="PSU Image" style="max-width: 190px;">' +
                                '<br>Brand: ' + leverancier +
                                '<br>Wattage: ' + watt + 'W' +
                                '<br>Type: ' + type + 
                                '<br><br>' + stock +
                                '<br><br>$' + prijs;

                document.getElementById('psu-info').innerHTML = psuInfoHTML;
                psuprijs = prijs; // Assuming psuprijs is a global variable
            });


            document.getElementById('cpu-select').addEventListener('change', function() {
                var selectedOption = this.options[this.selectedIndex];
                var prijs = selectedOption.getAttribute('data-prijs');
                var stock = selectedOption.getAttribute('data-stock');
                stock = checkstock(stock);
                var leverancier = selectedOption.getAttribute('data-leverancier');
                var cores = selectedOption.getAttribute('data-cores');
                var clock = selectedOption.getAttribute('data-clock');
                var socket = selectedOption.getAttribute('data-socket');
                var image = selectedOption.getAttribute('data-image');

                console.log("Image URL:", image);

                // Set the innerHTML of cpu-info to include the image
                var cpuInfoHTML = '<img src="' + image + '" alt="CPU Image" style="max-width: 190px;">' +
                                '<br>Brand: ' + leverancier +
                                '<br>Cores: ' + cores +
                                '<br>Clock speed: ' + clock + 
                                '<br>Socket: ' + socket + 
                                '<br><br>' + stock +
                                '<br><br>$' + prijs;

                document.getElementById('cpu-info').innerHTML = cpuInfoHTML;
                cpuprijs = prijs; // Assuming cpuprijs is a global variable
            });


            document.getElementById('gpu-select').addEventListener('change', function() {
                var selectedOption = this.options[this.selectedIndex];
                var prijs = selectedOption.getAttribute('data-prijs');
                var stock = selectedOption.getAttribute('data-stock');
                stock = checkstock(stock);
                var leverancier = selectedOption.getAttribute('data-leverancier');
                var capaciteit = selectedOption.getAttribute('data-vramcap');
                var clock = selectedOption.getAttribute('data-clock');
                var gddr = selectedOption.getAttribute('data-gddr');
                var image = selectedOption.getAttribute('data-image'); 

                // Debug the image variable
                console.log("Image URL:", image);

                // Set the innerHTML of gpu-info to include the image
                var gpuInfoHTML = '<img src="' + image + '" alt="GPU Image" style="max-width: 190px;">' +
                                '<br>Brand: ' + leverancier +
                                '<br>Capacity: ' + capaciteit + ' VRAM' +
                                '<br>Clock speed: ' + clock + 
                                '<br>GDDR' + gddr + 
                                '<br><br>' + stock +
                                '<br><br>$' + prijs;

                document.getElementById('gpu-info').innerHTML = gpuInfoHTML;
                gpuprijs = prijs; // Assuming gpuprijs is a global variable
            });


            document.getElementById('mom-select').addEventListener('change', function() {
                var selectedOption = this.options[this.selectedIndex];
                var prijs = selectedOption.getAttribute('data-prijs');
                var stock = selectedOption.getAttribute('data-stock');
                stock = checkstock(stock);
                var leverancier = selectedOption.getAttribute('data-leverancier');
                var socket = selectedOption.getAttribute('data-socket');
                var gddr = selectedOption.getAttribute('data-gddr');
                var ddr = selectedOption.getAttribute('data-ddr');
                var image = selectedOption.getAttribute('data-image');

                // Debug the image variable
                console.log("Image URL:", image);

                var momInfoHTML = '<img src="' + image + '" alt="Motherboard Image" style="max-width: 190px;">' +
                                '<br>Brand: ' + leverancier +
                                '<br>Socket: ' + socket +
                                '<br>GDDR: ' + gddr + 
                                '<br>DDR' + ddr + 
                                '<br><br>' + stock +
                                '<br><br>$' + prijs;

                document.getElementById('mom-info').innerHTML = momInfoHTML;
                momprijs = prijs; // Assuming momprijs is a global variable
            });


            document.getElementById('storage-select').addEventListener('change', function() {
                var selectedOption = this.options[this.selectedIndex];
                var prijs = selectedOption.getAttribute('data-prijs');
                var stock = selectedOption.getAttribute('data-stock');
                stock = checkstock(stock);
                var capaciteit = selectedOption.getAttribute('data-capaciteit');
                var leverancier = selectedOption.getAttribute('data-leverancier');
                var type = selectedOption.getAttribute('data-type');
                var image = selectedOption.getAttribute('data-image');

                // Debug the image variable
                console.log("Image URL:", image);

                var storageInfoHTML = '<img src="' + image + '" alt="Storage Image" style="max-width: 190px;">' +
                                    '<br>Brand: ' + leverancier +
                                    '<br>Capacity: ' + capaciteit +
                                    '<br>Type: ' + type + 
                                    '<br><br>' + stock +
                                    '<br><br>$' + prijs;

                document.getElementById('storage-info').innerHTML = storageInfoHTML;
                storageprijs = prijs; // Assuming storageprijs is a global variable
            });


            document.getElementById('case-select').addEventListener('change', function() {
                var selectedOption = this.options[this.selectedIndex];
                var prijs = selectedOption.getAttribute('data-prijs');
                var stock = selectedOption.getAttribute('data-stock');
                stock = checkstock(stock);
                var leverancier = selectedOption.getAttribute('data-leverancier');
                var aantalfans = selectedOption.getAttribute('data-aantalfans');
                var afmetingen = selectedOption.getAttribute('data-afmetingen');
                var image = selectedOption.getAttribute('data-image');

                // Debug the image variable
                console.log("Image URL:", image);

                var caseInfoHTML = '<img src="' + image + '" alt="Case Image" style="max-width: 190px;">' +
                                '<br>Brand: ' + leverancier +
                                '<br>Amount of fans: ' + aantalfans +
                                '<br>Dimensions: ' + afmetingen + 
                                '<br><br>' + stock +
                                '<br><br>$' + prijs;

                document.getElementById('case-info').innerHTML = caseInfoHTML;
                caseprijs = prijs; // Assuming caseprijs is a global variable
            });

        }

        function round(number, precision) {
            var factor = Math.pow(10, precision);
            return Math.round(number * factor) / factor;
        }

        function showOverlay(item) {
            var overlay = document.getElementById("overlay");
            overlay.style.display = "block";
            var messageParagraph = document.querySelector(".dialog-box p");

            var existingImg = document.querySelector(".dialog-box img");
            if (existingImg) {
                existingImg.remove();
            }
            
            if (item == 'none') {
                var okButton = document.getElementById("okButton");
                messageParagraph.textContent = "Are you willing to abandon your cart in the ditch?";

                // Create the image element
                var img = document.createElement("img");
                img.src = "https://i.makeagif.com/media/8-19-2021/rvq_CL.gif";
                img.alt = "Animated Banner";
                img.style.maxWidth = "100%"; // Ensure image fits within dialog box
                img.style.display = "block"; // Set display to block for centering
                img.style.margin = "0 auto 20px"; // Center horizontally and add margin below

                // Append the image to the dialog box
                var dialogBox = document.querySelector(".dialog-box");
                dialogBox.insertBefore(img, okButton); // Insert before the OK button

                okButton.onclick = function() {
                    window.location.href ="/deletecart"; 
                };
            }
            else {var okButton = document.getElementById("okButton");
                okButton.onclick = function() {
                    window.location.href = "/delete-item?item=" + item;
                };
            }
        }

        function hideOverlay() {
            var overlay = document.getElementById("overlay");
            overlay.style.display = "none";
        }

        function checkCompatibility() {
            var cpuSelect = document.getElementById('cpu-select');
            var cpuSocket = cpuSelect.options[cpuSelect.selectedIndex].getAttribute('data-socket');

            var momSelect = document.getElementById('mom-select');
            var momSocket = momSelect.options[momSelect.selectedIndex].getAttribute('data-socket');

            var ramSelect = document.getElementById('ram-select');
            var ramDDR = ramSelect.options[ramSelect.selectedIndex].getAttribute('data-ddr');

            var momDDR = momSelect.options[momSelect.selectedIndex].getAttribute('data-ddr');

            var failMessage = document.getElementById('fail-message');
            var admin_review_button = document.getElementById('admin_review');

            // Check if any select element has the default option selected
            if (momSelect.value === 'default') {
                failMessage.style.display = "none"; // Hide the fail message if default option selected
                return; // Exit the function
            }

            if (cpuSocket !== momSocket) {
                failMessage.style.display = "block";
                failMessage.textContent = "CPU socket does not match motherboard socket!";
                admin_review_button.style.display = "none";
            } else if (ramDDR !== momDDR) {
                failMessage.style.display = "block";    
                failMessage.textContent = "RAM DDR type does not match motherboard DDR type!";
                admin_review_button.style.display = "none";
            } else {
                failMessage.style.display = "none";
                checkAllSelects();
            }
        }

        function checkDdrComp() {
            
            var momSelect = document.getElementById('mom-select');
            var momDDR = momSelect.options[momSelect.selectedIndex].getAttribute('data-ddr');
            
            var ramSelect = document.getElementById('ram-select');
            var ramDDR = ramSelect.options[ramSelect.selectedIndex].getAttribute('data-ddr');
            
            var admin_review_button = document.getElementById('admin_review');

            if (ramDDR !== momDDR) {
                admin_review_button.style.display = "none"
            }
        }

        function checkWarningCompatibility() {
            var momSelect = document.getElementById('mom-select');
            var momGDDR = momSelect.options[momSelect.selectedIndex].getAttribute('data-gddr');
            
            var gpuSelect = document.getElementById('gpu-select');
            var gpuGDDR = gpuSelect.options[gpuSelect.selectedIndex].getAttribute('data-gddr');
            
            var warningMessage = document.getElementById('warning-message');

            // Check if any select element has the default option selected
            if (momSelect.value === 'default' || gpuSelect.value === 'default') {
                warningMessage.style.display = "none"; // Hide the warning message if default option selected
                return; // Exit the function
            }

            if (gpuGDDR !== momGDDR) {
                warningMessage.style.display = "block";
                warningMessage.textContent = "GPU GDDR type does not match motherboard GDDR type! In most cases this does not matter but keep an eye out!";
            } else {
                warningMessage.style.display = "none";
            }
        }

        function checkAllSelects() {
            var psuSelect = document.getElementById('psu-select');
            var caseSelect = document.getElementById('case-select');
            var storageSelect = document.getElementById('storage-select');
            var momSelect = document.getElementById('mom-select');
            var gpuSelect = document.getElementById('gpu-select')
            var admin_review_button = document.getElementById('admin_review');

            // Check if any select element has the default option selected
            if (psuSelect.value === 'default' ||  caseSelect.value === 'default' || storageSelect.value === 'default'
                || momSelect.value === 'default' || gpuSelect.value === 'default') {
                admin_review_button.style.display = "none"; // Hide the admin review button if any select element has the default option
            } else {
                admin_review_button.style.display = "block"; // Show the admin review button if all select elements have non-default options
            }
        }

        //EVENT LISTENERS
        // document.getElementById('psu-select').addEventListener('change', checkAllSelects);
        // document.getElementById('case-select').addEventListener('change', checkAllSelects);
        // document.getElementById('storage-select').addEventListener('change', checkAllSelects);
        // document.getElementById('mom-select').addEventListener('change', checkAllSelects);

        // document.getElementById('mom-select').addEventListener('change', checkWarningCompatibility);
        // document.getElementById('gpu-select').addEventListener('change', checkWarningCompatibility);
        
        // document.getElementById('cpu-select').addEventListener('change', checkCompatibility);
        // document.getElementById('ram-select').addEventListener('change', checkCompatibility);
        // document.getElementById('mom-select').addEventListener('change', checkCompatibility);

        document.getElementById('psu-select').addEventListener('change', handleSelectChange);
        document.getElementById('case-select').addEventListener('change', handleSelectChange);
        document.getElementById('storage-select').addEventListener('change', handleSelectChange);
        document.getElementById('mom-select').addEventListener('change', handleSelectChange);
        document.getElementById('gpu-select').addEventListener('change', handleSelectChange);
        document.getElementById('cpu-select').addEventListener('change', handleSelectChange);
        document.getElementById('ram-select').addEventListener('change', handleSelectChange);

        // Define the function to handle the select change event
        function handleSelectChange() {
            checkAllSelects();
            checkWarningCompatibility();
            checkCompatibility();
        }



        window.addEventListener('load', function() {
            addSelectChangeListeners();
        });

        window.addEventListener('change', function() {

            totalprice = Number(cpuprijs) + Number(gpuprijs) + Number(psuprijs) + Number(ramprijs) + Number(momprijs) + Number(caseprijs) + Number(storageprijs);
            totalprice = round(totalprice, 2)

            document.getElementById('cart').innerText = 'Add to Cart $' + totalprice + '.';
        });

        cart.addEventListener("click", function() {
            tieHiddenValue('cpu-form', 'cpu-select');
            tieHiddenValue('gpu-form', 'gpu-select');
            tieHiddenValue('psu-form', 'psu-select');
            tieHiddenValue('ram-form', 'ram-select');
            tieHiddenValue('mom-form', 'mom-select');
            tieHiddenValue('case-form', 'case-select');
            tieHiddenValue('storage-form', 'storage-select');
            form.submit();
        });

        if (admin_review) {
            admin_review.addEventListener("click", function() {
                tieHiddenValue('cpu-form', 'cpu-select');
                tieHiddenValue('gpu-form', 'gpu-select');
                tieHiddenValue('psu-form', 'psu-select');
                tieHiddenValue('ram-form', 'ram-select');
                tieHiddenValue('mom-form', 'mom-select');
                tieHiddenValue('case-form', 'case-select');
                tieHiddenValue('storage-form', 'storage-select');
                form.submit();
            });
        }


        //PAGELOAD
        fetchOptions('cpu', 'cpu-select');
        fetchOptions('gpu', 'gpu-select');
        fetchOptions('ram', 'ram-select');
        fetchOptions('psu', 'psu-select');
        fetchOptions('storage', 'storage-select');
        fetchOptions('mom', 'mom-select');
        fetchOptions('case', 'case-select');
        checkAllSelects();



    </script>
</body>
</html>
