<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <topbar>
        <div class="top-bar-button">
            <a href="/dashboard" id="dash-button">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="dashboard" height="30">
            </a>
        </div>
        <div class="top-bar-button">
            <a href="/viewcart" id="cart-button">
                <img src="https://static.vecteezy.com/system/resources/previews/019/787/018/original/shopping-cart-icon-shopping-basket-on-transparent-background-free-png.png" alt="cart" height="30">
            </a>
        </div>
        <div class="top-bar-button">
            <a href="/login" id="logout-button">
                <img src="https://cdn0.iconfinder.com/data/icons/login-44/24/logout_doot_interface_essentials_login_regular_f-512.png" alt="log out" height="30">
            </a>
        </div>
        <div class="top-bar-button">
            <a href="/profile" id="profile-button">
                <img src="https://static-00.iconduck.com/assets.00/profile-icon-512x512-w0uaq4yr.png" alt="profile" height="30">
            </a>
        </div>
        {% if account['isadmin'] == 1%}
        <div class="top-bar-button">
            <a href="/debug" id="bug-button">
                <img src="https://static.thenounproject.com/png/83827-200.png" alt="debug" height="30">
            </a>
        </div>
        {% endif %}
    </topbar>
    <div class="options-dashboard">
        <div class="options-item">
            <h2 id="title">Build your pc now!</h2>
            <img src="{{ url_for('static', filename='images/gamingdesktop.png') }}" alt="Main Product" width="340">
            <a href="builder">Go to Builder!</a>
        </div>
    {% for item in prebuilt %}      <!-- Making as much prebuilts "div"'s as there are in the database -->
    <div class="options-item">
        <h2 id="title">{{item[9]}}</h2>
        <img src="{{item[2]}}" alt="prebuilt pic" style="max-height: 240px; width: auto;">
        <li>{{item[4]}}</li>
        <li>{{item[5]}}</li>
        <li>{{item[8]}}</li>
        <li>{{item[6]}}</li>
        <li>{{item[3]}}</li>
        <li>{{item[7]}}</li>
        <li>{{item[1]}}</li>
        <a href="addtocartfromdash/{{item[10]}}">Add to cart ${{item[0]}}</a>
    </div>
    {% endfor %}
    {% if admin %}
        <div class="options-item">
            <h2 id="title">Edit DataBase</h2>
            <img src="{{ url_for('static', filename='images/gpu.png') }}" alt="update item pic" width="340">
            <a href="updateitem">DataBase</a>
        </div>
    {% endif %}
    </div>
    
</body>
</html>