<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="options-dashboard">
        <div class="options-item">
            <h2 id="title">Build your pc now!</h2>
            <img src="{{ url_for('static', filename='images/gamingdesktop.png') }}" alt="Main Product" width="290">
            <a href="builder">Go to Builder!</a>
            <a href="login">Log out</a>
        </div>
    {% if admin %}
        <div class="options-item">
            <h2 id="title">Add items to any table</h2>
            <img src="{{ url_for('static', filename='images/gpu.png') }}" alt="Main Product" width="340">
            <a href="additem">Add items</a>
        </div>
        <div class="options-item">
            <h2 id="title">Update Items from any table</h2>
            <img src="{{ url_for('static', filename='images/gpu.png') }}" alt="Main Product" width="340">
            <a href="updateitem">Update items</a>
        </div>
    </div>
    {% endif %}
    
</body>
</html>