<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PC Parts Builder</title>
</head>
<body>

    <div class="product-container">
        <div class="product">
            <h2>Build your PC!</h2>
            <img src="{{ url_for('static', filename='images/gamingdesktop.png') }}" alt="Main Product" height="270">
            <p>Choose every part by hand, <br>enjoy the build it yourself discount <br>and enjoy the ease of a prebuilt</p>
        </div>
        
        <div class="component-selection">
            <h3>Select CPU:</h3>
            <select id="cpu-select">

            </select>
            <h4>Info:</h4>
            <p id="cpu-info">Select a GPU to see its info.</p>
        </div>
    
        <div class="component-selection">
            <h3>Select GPU:</h3>
            <select id="gpu-select">

            </select>
            <h4>Info:</h4>
            <p id="gpu-info">Select a GPU to see its info.</p>
        </div>
    
        <div class="component-selection">
            <h3>Select RAM:</h3>
            <select id="ram-select">

            </select>
            <h4>Info:</h4>
            <p id="info">Select a GPU to see its info.</p>
        </div>

        <div class="component-selection">
            <h3>Select PSU:</h3>
            <select id="psu-select">

            </select>
            <h4>Info:</h4>
            <p id="psu-info">Select a GPU to see its info.</p>
        </div>

        <div class="component-selection">
            <h3>Select Storage:</h3>
            <select id="storage-select">

            </select>
            <h4>Info:</h4>
            <p id="storage-info">Select a GPU to see its info.</p>
        </div>

        <div class="component-selection">
            <h3>Select Motherboard:</h3>
            <select id="mom-select">

            </select>
            <h4>Info:</h4>
            <p id="mom-info">Select a GPU to see its info.</p>
        </div>

        <div class="component-selection">
            <h3>Select Case:</h3>
            <select id="case-select">

            </select>
            <h4>Info:</h4>
            <p id="info">Select a GPU to see its info.</p>
        </div>


        <button>Add to Cart</button>
        <a href="logout">Log Out</a>
    </div>
    
    <script>
        // Function to fetch options for the selected component
        function fetchOptions(component, selectId) {
            fetch(`/get_options/${component}`)
                .then(response => response.json())
                .then(data => {
                    const select = document.getElementById(selectId);
                    select.innerHTML = ''; // Clear previous options
                    data.forEach(option => {
                        const optionElem = document.createElement('option');
                        optionElem.value = option.id;
                        optionElem.textContent = option.name;
                        optionElem.setAttribute('data-prijs', option.prijs);
                        select.appendChild(optionElem);
                    });
                    // Update info element with the price of the first option

                })
                .catch(error => console.error(`Error fetching options for ${component}:`, error));
        }

        document.getElementById('ram-select').addEventListener('change', function() {
            var selectedOption = this.options[this.selectedIndex];
            var prijs = selectedOption.getAttribute('data-prijs');
            document.getElementById('info').innerText = '$'+prijs;
        });

        // Fetch options for each component on page load
        fetchOptions('cpu', 'cpu-select');
        fetchOptions('gpu', 'gpu-select');
        fetchOptions('ram', 'ram-select');
        fetchOptions('psu', 'psu-select');
        fetchOptions('storage', 'storage-select');
        fetchOptions('mom', 'mom-select');
        fetchOptions('case', 'case-select');


    </script>
</body>
</html>
